{% extends 'tracker/main.html' %}
{% load static %}
{% load group_tags %}
{% load humanize %}
{% block content %}

<div class="row">
    <div class="col-md">
        <div class="card card-header">
            <h5 class="d-flex justify-content-center h-100">Approved Expense List</h5>
        </div>
        <div class="card card-body table-responsive">
            <div class="row">
                <div class="col">
                    <div class="card card-body">
                        <form method="get" class="form-inline">
                            <div class="input-group row">
                                <label for="" class="col-2 col-form-label">From</label>
                                <div class="col-10">
                                    {{ myFilter.form.start_date }}
                                </div>
                            </div>
                            <div class="input-group row">
                                <label for="" class="col-2 col-form-label">To</label>
                                <div class="col-10">
                                    {{ myFilter.form.end_date }}
                                </div>
                            </div>
                            <div class="col-md-1"><button class="btn btn-primary" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Transaction Date</th>
                        <th>Image</th>
                        <th>Submitted By</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Date Created</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in page_obj %}

                    <tr>
                        <td>{{ expense.title }}</td>
                        <td>{{ expense.description }}</td>
                        <td>${{ expense.amount|intcomma }}</td>
                        <td>{{ expense.transaction_date }}</td>
                        <td style="width:0"><img src="{{ expense.imageURL }}" alt="No Image" width="70%"></td>
                        <td>{{ expense.submitted_by }}</td>
                        <td>{{ expense.category }}</td>
                        <td>{{ expense.status }}</td>
                        <td>{{ expense.date_created|naturaltime }}</td>
                    </tr>
                    {% empty %}
                    <td colspan="100">
                        <div class="card text-center">
                            <div class="card-body">
                                <p class="card-text">No data available at the moment.</p>
                            </div>
                        </div>
                    </td>
                    {% endfor %}
                </tbody>
            </table>

            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    const start_date = document.getElementById("id_start_date")
    const end_date = document.getElementById("id_end_date")
    start_date.setAttribute("type", "date")
    end_date.setAttribute("type", "date", )
    start_date.className += "form-control"
    end_date.className += "form-control"

</script>
{% endblock script %}
